public net.minecraft.world.level.block.entity.BlockEntity$DataComponentInput
public net.minecraft.client.gui.Font renderText(Lnet/minecraft/util/FormattedCharSequence;FFIZLorg/joml/Matrix4f;Lnet/minecraft/client/renderer/MultiBufferSource;Lnet/minecraft/client/gui/Font$DisplayMode;II)F
public com.mojang.blaze3d.vertex.BufferBuilder beginElement(Lcom/mojang/blaze3d/vertex/VertexFormatElement;)J
public net.minecraft.client.renderer.RenderType$CompositeRenderType

# ServerLevel things
public net.minecraft.server.level.ServerLevel tickBlock(Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/Block;)V
public net.minecraft.server.level.ServerLevel tickFluid(Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/material/Fluid;)V
#public net.minecraft.server.level.ServerLevel handlingTick
public-f net.minecraft.server.level.ServerLevel players
public-f net.minecraft.server.level.ServerChunkCache chunkMap

public net.minecraft.client.multiplayer.ClientLevel getBlockStatePredictionHandler()Lnet/minecraft/client/multiplayer/prediction/BlockStatePredictionHandler;

public net.minecraft.server.level.ServerChunkCache distanceManager
public net.minecraft.client.renderer.texture.SpriteContents animatedTexture
public net.minecraft.nbt.CompoundTag tags
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture

public net.minecraft.client.sounds.SoundManager$Preparations
public net.minecraft.client.sounds.SoundManager soundEngine
public net.minecraft.client.sounds.SoundEngine channelAccess
public net.minecraft.client.sounds.SoundEngine instanceToChannel
public com.mojang.blaze3d.audio.Channel stream
public com.mojang.blaze3d.audio.Channel getState()I
public com.mojang.blaze3d.audio.Channel source

public net.minecraft.client.Camera entity
public net.minecraft.client.Camera position
public net.minecraft.client.renderer.GameRenderer renderDistance