public net.minecraft.world.level.block.entity.BlockEntity$DataComponentInput
public net.minecraft.client.gui.Font renderText(Lnet/minecraft/util/FormattedCharSequence;FFIZLorg/joml/Matrix4f;Lnet/minecraft/client/renderer/MultiBufferSource;Lnet/minecraft/client/gui/Font$DisplayMode;II)F # renderText
public com.mojang.blaze3d.vertex.BufferBuilder beginElement(Lcom/mojang/blaze3d/vertex/VertexFormatElement;)J # beginElement
public net.minecraft.client.renderer.RenderType$CompositeRenderType

# ServerLevel things
public net.minecraft.server.level.ServerLevel tickBlock(Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/Block;)V # tickBlock
public net.minecraft.server.level.ServerLevel tickFluid(Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/material/Fluid;)V # tickFluid
public net.minecraft.server.level.ServerLevel handlingTick # handlingTick
public-f net.minecraft.server.level.ServerLevel players # players

public net.minecraft.server.level.ServerChunkCache distanceManager # distanceManager
public net.minecraft.client.renderer.texture.SpriteContents animatedTexture # animatedTexture
public net.minecraft.nbt.CompoundTag tags # tags
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture

public net.minecraft.client.sounds.SoundManager$Preparations
public net.minecraft.client.sounds.SoundManager soundEngine # soundEngine
public net.minecraft.client.sounds.SoundEngine channelAccess # channelAccess
public net.minecraft.client.sounds.SoundEngine instanceToChannel # instanceToChannel
public com.mojang.blaze3d.audio.Channel stream # stream
public com.mojang.blaze3d.audio.Channel getState()I # getState
public com.mojang.blaze3d.audio.Channel source # source

public net.minecraft.client.Camera entity # entity
public net.minecraft.client.Camera position # position
public net.minecraft.client.renderer.GameRenderer renderDistance # renderDistance

# LevelRenderer experiments
public net.minecraft.client.renderer.LevelRenderer renderSectionLayer(Lnet/minecraft/client/renderer/RenderType;DDDLorg/joml/Matrix4f;Lorg/joml/Matrix4f;)V # renderSectionLayer
public net.minecraft.client.renderer.LevelRenderer renderEntity(Lnet/minecraft/world/entity/Entity;DDDFLcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;)V # renderEntity
public net.minecraft.client.renderer.LevelRenderer setupRender(Lnet/minecraft/client/Camera;Lnet/minecraft/client/renderer/culling/Frustum;ZZ)V # setupRender
public net.minecraft.client.renderer.LevelRenderer compileSections(Lnet/minecraft/client/Camera;)V # compileSections